$color-white: #ffffff;
$color-blue: #2834ff;
$link-div-hover-background: #cafff7;
$color-rose-pink: #EBA0A3;
$color-dusty-pink: #ffcccc;
$subtle-pink: #e5e5e5;
$color-dusty-green: #124C4B;
$color-light-leaf-green: #457200;
$color-h2: #003300;
$color-red: #ff6644;
$color-black: #000000;
$color-dusty-brown: #330000;